* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общий стил для всей страницы */

body {
    background-color: var(--background);
    color: var(--text-main);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Фон ,его цвет,шрифт и отступ */


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.loginForm {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

:root {
    --primary-blue: #157fc4;
    --primary-blue-dark: #155d8a;
    --background: #f5f7fa;
    --white: #ffffff;
    --text-main: #1f2933;
    --text-muted: #6b7280;
    --border-light: #e5e7eb;
    --accent-green: #2e8b57;
    --accent-yellow: #f2c94c;
}

header {
    background-color: var(--primary-blue);
    height: 57px;
}

.header-logo {
    height: 57px;
    width: 57px;
    position: absolute;
    margin: 0;

}

.header-signum {
    position: absolute;
    height: 57px;
    width: 250px;
    margin-left: 70px;

}

.vertical-line {
    position: absolute;
    transform: rotate(90deg);
    width: 53px;
    height: 4px;
    margin-top: 26px;
    margin-left: 38px;
    background-color: #f5f7fa;
    z-index: 999;

}

.registration-logo {
    width: 150px;
    height: 150px;
    margin-left: 135px;
}

input {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-width: thin;
}

button {
    width: 100px;
    height: 30px;
    border-width: thin;
    margin-top: 10px;
    background-color: #1e78b7;
    color: #ffffff;
    border-color: #1e78b7;
    border-radius: 15px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 10;
    cursor: pointer;
}

button:hover {
    background-color: #155d8a;
}

button:active {
    background-color: #124b70;
}

@media (max-width: 768px) {
    .background-container {
        padding: 10px;
    }

    .loginForm {
        padding: 20px;
    }

    .registration-logo {
        width: 150px;
    }

    table {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 12px;
    }

    button {
        width: 100%;
        padding: 14px;
    }
}